</br>
</br>
<h1>About</h1>
<p>You wake up tired <strike>hungover</strike> and you need some of the glorious juice created by the gods...a mimosa. Where will you turn next? How will you find this glorious juice?
Look no further, my friend. ClosaMimosa has got your back. Push our handy dandy #MimoMe button and you'll be shown the very closest mimosa to you. Be sure to allow our app to know your current location.
Don't be creeped out. We never sell your information to 3rd parties. We only want your location to show you your closa mimosa so you'll be sipping and slipping into heaven in no time!</p>
