// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

H1, p {
    font-family: Lato;
    font-weight: 200;
}

.navbar {
    font-family: Lato;
}

.navbar a {
    color: pink !important;
    font-size: 2em !important;
}